{% extends '@layout/default.html.twig' %}

{% block stylesheets %}
<!-- include summernote css/js-->
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">

{% endblock %}

{% block title %}Add page{% endblock %}

{% block content %}
{% if messages is defined%}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endfor %}
{% endif %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#page-tab" data-toggle="tab">Page definition </a></li>
    <li><a href="#page-meta-tab" data-toggle="tab">Extend </a></li>
    <li><a href="#page-meta-tags-tab" data-toggle="tab">Metadata </a></li>
    {% block content_navTabs %}{% endblock %}
</ul>

<form method="post" action="{{ url('admin.page', {'action': 'add'}) }}" onsubmit="processForm()">
    
    <div class="tab-content">
        
        {#page#}
        <div class="tab-pane active" id="page-tab">
            
            {#slug#}
            <div class="form-group">
                <label for="page_slug">Slug</label>
                <input id="page_slug" type="text" name="slug" class="form-control" placeholder="slug" required  pattern="^[a-z0-9-]+$">
            </div>
            
            {#title#}
            <div class="form-group">
                <label for="page_tite">Title</label>
                <input id="page_tite" type="text" name="title" class="form-control" placeholder="title" required>
            </div>
            
            {#description#}
            <div class="form-group">
                <label for="page_description">Description</label>
                <textarea id="page_description" class="form-control" name="description" rows="3"></textarea>
            </div>
            
            {#content#}
            <div class="form-group">
                <label for="page_content">Content</label>
                <div id="page_content" class="form-control"></div>
                <textarea id="page_content_hidden" class="hide" name="content" rows="3"></textarea>
            </div>
            
            {#template#}
            <div class="form-group">
                <label for="page_templates">Template</label>
                <select id="page_templates" class="form-control" name="templateId" required>
                    <option value="">Choose</option>
                    {% for idx,template in page_templates %}
                        <option value="{{ template.id }}">{{ template.name }} - [{{ template.path }}]</option>
                    {% endfor %}
                </select>
            </div>
            
            {#parent#}
            <div class="form-group">
                <label for="page_parents">Parent</label>
                <select id="page_parents" class="form-control" name="parentId">
                    <option value="">None</option>
                    {% for idx, parent in page_parents %}
                        <option value="{{ parent.id }}">{{ parent.title }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {#category#}
            <div class="form-group">
                <label for="page_categories">Category</label>
                <select id="page_categories" class="form-control" name="categoryId">
                    <option value="">None</option>
                    {% for idx, category in page_categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {#access#}
            <div class="form-group">
                <label for="user_roles">Access</label>
                <select id="user_roles" class="form-control" name="roleId">
                    {% for idx, role in user_roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {#priority#}
            <div class="form-group">
                <label for="page_priority">Priority</label>
                <input id="page_priority" type="number" name="priority" class="form-control" placeholder="priority" required pattern="^[0-9]+$">
            </div>
            
            {#status#}
            <div class="form-group">
                <label for="page_status">Status</label>
                <select id="page_status" class="form-control" name="statusId">
                    <option value="1">None</option>
                    {% for idx, status in page_statuses %}
                        <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            {#state#}
            <div class="form-group">
                <label for="page_state">State</label>
                <select id="page_state" class="form-control" name="state">
                  <option value="1" selected>Active</option>
                  <option value="0">Inactive</option>
                </select>
            </div>
            
        </div>
        
        {#page-meta#}
        <div class="tab-pane" id="page-meta-tab">
            
            <div id="dynamic-row">
                <div class="entry form-inline" style="padding: 10px 0px;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input type="text" name="meta[key][]" class="form-control" placeholder="key" pattern="^[a-z0-9-]+$">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="meta[value][]" class="form-control" placeholder="value" rows="1" cols="50"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger btn-remove">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button type="submit" class="btn btn-primary btn-add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            
        </div>
        
        {#page-meta-tags#}
        <div class="tab-pane" id="page-meta-tags-tab">
            <div class="alert alert-info" role="alert">
                <i>for &#x3C;meta http-equiv=&#x22;refresh&#x22; content=&#x22;30&#x22;&#x3E; you should insert only http-equiv=&#x22;refresh&#x22; content=&#x22;30&#x22;</i>
            </div>
            <div id="dynamic-row-tags">
                <div class="entry-tags form-inline" style="padding: 10px 0px;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <textarea name="meta_tags[value][]" class="form-control" placeholder="value" rows="1" cols="110"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger btn-remove-tags">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button type="submit" class="btn btn-primary btn-add-tags">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            
        </div>
        
        {% block content_tabContent %}{% endblock %}
        
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
</form>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>#}
<script>
    // var editor = ace.edit("page_content");
    // editor.setTheme("ace/theme/solarized_dark");
    // editor.getSession().setMode("ace/mode/twig");
</script>

<script>
function processForm() {
    // document.getElementById("page_content_hidden").value = editor.getSession().getValue();
    document.getElementById("page_content_hidden").value = $('#page_content').summernote("code");
}
</script>



{% endblock %}

{% block javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<script>
    $('#page_content').summernote({
		height: "210px",
	    toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript', 'clear']],
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video', 'hr']],
            ['height', ['height']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ],
        fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '21', '24', '26', '28', '36', '42', '48' , '63', '84']
	});
	
	$(function() {
	    
	   // TODO [IMPROVEMENT]: use a single function for both meta and meta-tags
	   
	   // page meta
        var i=1;
        $('#dynamic-row:first').find('.input-group-addon').html(i);
        $(document).on('click', '.btn-add', function(e) {
            e.preventDefault();
    
            var controlForm  = $('#dynamic-row:first'),
                currentEntry = $(this).parent('.entry:first'),
                newEntry     = $(currentEntry.clone()).appendTo(controlForm);
                
            $(newEntry).find('.input-group-addon').html(++i);
            newEntry.find('input').val('');
            
        }).on('click', '.btn-remove', function(e){   
            i--;
            $(this).parent().nextAll('.entry').each(function() {
                $(this).find('.input-group-addon').html($(this).find('.input-group-addon').html()-1); 
            });
    		$(this).parents('.entry:first').remove();	
    		
    		e.preventDefault();
    		return false;
    	});
    	
    	// page meta tags
    	var j=1;
        $('#dynamic-row-tags:first').find('.input-group-addon').html(j);
        $(document).on('click', '.btn-add-tags', function(e) {
            e.preventDefault();
    
            var controlForm  = $('#dynamic-row-tags:first'),
                currentEntry = $(this).parent('.entry-tags:first'),
                newEntry     = $(currentEntry.clone()).appendTo(controlForm);
                
            $(newEntry).find('.input-group-addon').html(++j);
            newEntry.find('input').val('');
            
        }).on('click', '.btn-remove-tags', function(e){   
            j--;
            $(this).parent().nextAll('.entry-tags').each(function() {
                $(this).find('.input-group-addon').html($(this).find('.input-group-addon').html()-1); 
            });
    		$(this).parents('.entry-tags:first').remove();	
    		
    		e.preventDefault();
    		return false;
    	});
    	{% block javascript_documentReady %}{% endblock %}
    });
</script>
{% endblock %}