{% extends '@layout/default.html.twig' %}

{% block title %}Edit page template{% endblock %}

{% block content %}

{% if messages is defined%}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endfor %}
{% endif %}

<form method="post" action="{{ url('admin.page-template', {'action': 'edit'}) }}" onsubmit="processForm()">
    
    <input type="hidden" name="id" id="template_id" value="{{page_template.id}}" required>  
    <div class="form-group">
        <label for="template_name">Name</label>
        <input type="text" name="name" class="form-control" id="template_name" value="{{page_template.name}}" placeholder="name" required>
    </div>
  
    <div class="form-group">
        <label for="template_path">Path</label>
        <input type="text" name="path" class="form-control" id="template_path" value="{{page_template.path}}" placeholder="path" required>
    </div>
    
    <div class="form-group">
        <label for="template_content">Content</label>
        <div class="form-control" id="template_content" style="height: 210px;">{{page_template.content}}</div>
        <textarea id="template_content_hidden" class="form-control hide" name="content" rows="3"></textarea>
        <a href="javascript:fullscreen();" style="float: right;margin-top: -19px;margin-right: 1px;">
            <span id="fullscreen" class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
    </div>
    
    <div class="form-group">
        <label for="template_state">State</label>
        <select id="template_state" class="form-control" name="state">
          {% if page_template.state %}
          <option value="1" selected>Active</option>
          <option value="0">Inactive</option>
          {% else %}
          <option value="1">Active</option>
          <option value="0" selected>Inactive</option>
          {% endif %}
        </select>
    </div>
  
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("template_content");
    editor.setTheme("ace/theme/solarized_dark");
    editor.getSession().setMode("ace/mode/twig");
</script>

<script>
function processForm() {
    document.getElementById("template_content_hidden").value = editor.getSession().getValue();
}
function fullscreen(){
    var i = document.getElementById("template_content");
    i.dataset.height = i.style.height;
    i.dataset.width = i.style.width;
    i.style.height = window.innerHeight+'px';
    i.style.width = window.innerWidth+'px';
    editor.resize();
    
    function fullscreenchange(){
        if (
        	document.fullscreenElement ||
        	document.webkitFullscreenElement ||
        	document.mozFullScreenElement ||
        	document.msFullscreenElement
        ) {
            //console.log('fullscreen');
        }else{
            var i = document.getElementById("template_content");
            i.style.height = i.dataset.height;
            i.style.width = i.dataset.width;
            editor.resize();
        }
    }

    // go full-screen
    if (i.requestFullscreen) {
    	i.requestFullscreen();
    	document.addEventListener("fullscreenchange", fullscreenchange);
    } else if (i.webkitRequestFullscreen) {
    	i.webkitRequestFullscreen();
    	document.addEventListener("webkitfullscreenchange", fullscreenchange);
    } else if (i.mozRequestFullScreen) {
    	i.mozRequestFullScreen();
    	document.addEventListener("mozfullscreenchange", fullscreenchange);
    } else if (i.msRequestFullscreen) {
    	i.msRequestFullscreen();
    	document.addEventListener("MSFullscreenChange", fullscreenchange);
    }
    
}

</script>

{% endblock %}
